<h1>Vehicle Comparison</h1>
	<!--<script>
		var bootstrap3_enabled = (typeof $().emulateTransitionEnd == 'function');
		if (bootstrap3_enabled) {  

   		alert("jQuery library is loaded!");

		} else {

   		alert("jQuery library is not found!");

		}
	</script>-->
